<h1>Edit your question</h1>


 <form action="/answers/<%= @answer.id %>" method="post">
 	<input type="hidden" name="_method" value="put">
 	<textarea name="answer[body]" rows="5" cols="30"><%= @answer.body %></textarea>
 	<input type="submit" value="Update!">
 </form>