<h1>Question: <%= @question.body %></h1>

<h2>Edit your answer</h2>


 <form action="/answers/<%= @answer.id %>" method="post">
 	<input type="hidden" name="_method" value="put">
 	<textarea name="answer[body]" rows="5" cols="30"><%= @answer.body %></textarea>
 	<input type="submit" value="Update!">
 </form>