<h2>Latest Questions!</h2>
<div>
<% @question.each_with_index do |q, index| %>

   <% user = User.find_by(id: q.user_id) %>
  <p><a href="/questions/<%= q.id %>">
   <%= "#{index + 1})  #{q.body}" %></a> &nbsp &nbsp (<%= "#{user.username}" %>)</p>
  
<% end %>
</div>
