<!DOCTYPE html>
<html>
<head>

  <link href="/css/application.css" rel="stylesheet" type="text/css">

  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500italic' rel='stylesheet' type='text/css'>


  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Quora Clone</title>

</head>
<body>


<% if user_logged_in? %>
  <% @user = current_user %>
  <h4><%= @user.username %></h4>
      <form action="/logout" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout">
    </form>

<% end %>
  <%= yield %>

</body>

</html>